{% extends "base.html" %}
{% block page_content %}
<h1>Gallery</h1>

<div class="container">
    {% for game in games %}
    {% if forloop.counter0|divisibleby:3 %}
    <div class="row">
        {% endif %}
        <div class="col-md-4">
            <div class="card mb-2">
                <!-- <img class="card-img-top" src="% static project.image %"> -->
                <div class="card-body">
                    <h5 class="card-title">{{ game.name }}</h5>
                    <p class="card-text">Players: {{ game.players_min }} to {{game.players_max}}
                        <br>Time: {{game.time.description_short}}
                        <br>Platform: {{game.platform.description_short}}</p>
                    <p class="card-text">{{ game.description }}</p>
                    <a href="{% url 'game_detail' game.pk %}" class="btn btn-primary">
                        Detail
                    </a>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    {% endif %}

    {% endfor %}
    <!-- <div class="row">
        <div class="col-sm">
            <div class="card mb-2">
          One of three columns
        </div>
        </div>
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
      </div> -->
</div>
{% endblock %}